doctype html
html
  head
    title SprintShip React Node
    link(href="/Static/Styles/bootstrap.min.css" rel="stylesheet")/
    link(href="/Static/Styles/fontawesome.min.css" rel="stylesheet")/
    link(href="/Static/Styles/main.css" rel="stylesheet")/
    link(href="/Static/Styles/react-datetime.css" rel="stylesheet")/
  body
    div(id="root")
    script(src= ReactBundle)